body{
    font-family: 'Arial Bold', 'Arial';
}
html{
    font-family: 'Arial Bold', 'Arial';
}
.bg-orange{
    background: #FF9900;
}

.white, .white:hover{
    color: #fff;
}

.ft-14{
    font-size: 14px;
}
.form-inline{
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.btn-submit{
    background: #FF9900;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: 0px;
    padding: 4px 40px;
    border-radius: 12px;
}

.btn-submit:hover{
    color: #fff;
    text-decoration: none;
}

.black{
    color: #000;
    text-decoration: underline;
}